*{
margin:0pt;
}
body{
background-color:aqua;
height:auto;

}
.header{
height:20%;

}
.container{
height:120%;
background-color:white;

}
.form_update{
display:none;
}
.imd{
width:150px;
margin:;
}

.imdd{
width:250px;
margin:10px;
}

.tyu{
letter-spacing:3px;
margin-bottom:20px;
}
.dir{
padding:10px;

}
.footer{
height:9%;

}
.first{
width:30%;
float:left;
height:100%;
border-right:1px dashed black;
}
.secondd{
height:90%;

margin-left:10pt;
margin-right:10pt;
}

.second{
width:69.8%;
height:100%;
float:left;


}